---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Robert Gräupner" description="About Robert Gräupner">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="480"
          height="360"
          src="/assets/background.jpg"
          alt="computer"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content work-experience">
          <p>
            I am an experienced Front-end Developer specializing in creating
            modern, efficient, and responsive web applications. I possess
            several years of experience working with advanced JavaScript
            technologies and modern frontend frameworks.
          </p>
          <p>
            I am passionate about modern web technologies, creating internet
            applications with emphasis on performance and user experience. My
            unique combination of experience in programming, sales, and
            engineering provides me with a multidimensional perspective on the
            digital product development process, which translates into creating
            solutions that not only meet technical requirements but also address
            real business needs and end-user expectations.
          </p>
          <p>
            In my daily work, I focus on implementing efficient solutions that
            harmoniously combine aesthetic design with advanced functionality. I
            strive to create code that not only fulfills its basic role but is
            also easy to maintain and expand, which translates into long-term
            value for the projects in which I participate.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <ul>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>React</li>
            <li>Next.js</li>
            <li>Redux</li>
            <li>Tanstack Query</li>
            <li>React Hook Form</li>
            <li>HTML, CSS/SCSS</li>
            <li>Tailwind CSS</li>
            <li>Bootstrap</li>
            <li>Git</li>
            <li>GitHub</li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            I graduated from Silesian University of Technology with a degree in
            Civil Engineering.<br />
            I have a master's degree in civil engineering.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Courses</h2>
        <div class="content">
          <ul>
            <li>
              <a
                href="https://kursai.coderslab.pl/course/darmowy-kurs-microsoft-ai-dla-programistow"
                >Microsoft AI for developers</a
              >
            </li>
            <li>
              <a href="https://opanuj.ai">Cursor: develop with AI</a>
            </li>
            <li>
              <a href="https://opanujfrontend.pl">Master frontend: AI edition</a
              >
            </li>
            <li>
              <a href="https://zrozumreact.pl">Master React</a>
            </li>
            <li>
              <a href="https://kodilla.com/pl/bootcamp/full-stack"
                >Frontend developer plus</a
              >
            </li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
    margin-inline: auto;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .work-experience {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
