---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactCTA from "../../components/ContactCTA.astro";
import Hero from "../../components/Hero.astro";

// Get language and translation function
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout
  title="O mnie | Robert Gräupner"
  description="Dowiedz się więcej o Robercie Gräupnerze"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title={t("about.title")} tagline={t("about.tagline")}>
        <img
          width="480"
          height="360"
          src="/assets/background.jpg"
          alt="computer"
        />
      </Hero>

      <section>
        <h2 class="section-title">Doświadczenie zawodowe</h2>
        <div class="content work-experience">
          <p>
            Jestem doświadczonym Front-end Developerem specjalizującym się w
            tworzeniu nowoczesnych, wydajnych i responsywnych aplikacji
            internetowych. Posiadam kilkuletnie doświadczenie w pracy z
            zaawansowanymi technologiami JavaScript oraz nowoczesnymi
            frameworkami frontendowymi.
          </p>
          <p>
            Jestem pasjoantem nowoczesnych technologii webowych, tworzący
            aplikacje internetowe z naciskiem na wydajność i user experience.
            Moje unikalne połączenie doświadczenia w programowaniu, sprzedaży
            oraz inżynierii zapewnia mi wielowymiarową perspektywę na proces
            rozwoju produktów cyfrowych, co przekłada się na tworzenie
            rozwiązań, które nie tylko spełniają techniczne wymagania, ale
            również odpowiadają na rzeczywiste potrzeby biznesowe i oczekiwania
            użytkowników końcowych
          </p>
          <p>
            W swojej codziennej pracy koncentruję się na implementacji wydajnych
            rozwiązań, które harmonijnie łączą estetyczny design z zaawansowaną
            funkcjonalnością. Dążę do tworzenia kodu, który nie tylko spełnia
            swoją podstawoą rolę, ale jest również łatwy w utrzymaniu i
            rozbudowie, co przekłada się na długoterminową wartość dla
            projektów, w których uczestniczę.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Umiejętności</h2>
        <div class="content">
          <ul>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>React</li>
            <li>Next.js</li>
            <li>Redux</li>
            <li>Tanstack Query</li>
            <li>React Hook Form</li>
            <li>HTML, CSS/SCSS</li>
            <li>Tailwind CSS</li>
            <li>Bootstrap</li>
            <li>Git</li>
            <li>GitHub</li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Edukacja</h2>
        <div class="content">
          <p>
            Ukończyłem Politechnikę Śląską na kierunku Budownictwo.<br />
            Posiadam tytuł magistra inżyniera budownictwa.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Kursy</h2>
        <div class="content">
          <ul>
            <li>
              <a
                href="https://kursai.coderslab.pl/course/darmowy-kurs-microsoft-ai-dla-programistow"
                >Microsoft AI dla programistów</a
              >
            </li>
            <li>
              <a href="https://opanuj.ai">Cursor: programuj z AI</a>
            </li>
            <li>
              <a href="https://opanujfrontend.pl">Opanuj frontend: AI edition</a
              >
            </li>
            <li>
              <a href="https://zrozumreact.pl">Zrozumieć React</a>
            </li>
            <li>
              <a href="https://kodilla.com/pl/bootcamp/full-stack"
                >Frontend developer plus</a
              >
            </li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .work-experience {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(*) {
      grid-column: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
